.todo-table :global(.ant-pagination-item-link svg) {
  fill: white !important;
}

.todo-table :global(.ant-pagination-item:hover),
.todo-table :global(.ant-pagination-prev:hover .ant-pagination-item-link),
.todo-table :global(.ant-pagination-next:hover .ant-pagination-item-link) {
  background-color: var(--color-primary) !important;
}

.todo-table :global(.ant-pagination-item:hover a) {
  color: white !important;
}

.todo-table {
  overflow-x: auto;
}

.todo-table :global(.ant-table) {
  min-height: 265px;
  table-layout: fixed;
}

.todo-table :global(.ant-table) {
  --ant-table-cell-padding-block: 4px !important;
}
