@layer theme, base, antd, components, utilities;

@import "tailwindcss";

@theme {
  --background: #07111b;
  --foreground: #ffffff;
  --color-primary: #14b673;
  --color-secondary: #de512a;
  --color-grey-text: #a7b1ba;
  --color-primary-accent: #44fcb0;
  --color-secondary-accent: #fc9578;
}

/* Hide scrollbar */
html {
  /* Hide for IE and Edge 10+ */
  -ms-overflow-style: none;
  /* Hide for Firefox */
  scrollbar-width: none;
}
/* Hide for Chrome, Safari, and Edge */
html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
